body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 2% 10%;
    background-color: whitesmoke;
}

.container {
    padding: 10%;
    background-color: white;
    border-radius: 14px;
}

.title {
    font-size: 36px;
    margin: .8em 0 0;
}

.sub-title {
    font-style: italic;
    color: gray;
    margin-bottom: 1.8em;
}

@media screen and (min-width: 320px) {
    body {
        margin: 4%;
    }

    .container {
        padding: 6%;
    }

    .title {
        font-size: 24px;
    }
}