body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding: 2em 10em; background-color: whitesmoke;}

.container {
    padding: 3em;
    background-color: white;
    border-radius: 14px;
}

.title {
    font-size: 36px;
    margin: .8em 0 0;
}

.sub-title {
    font-style: italic;
    color: gray;
    margin-bottom: 1.8em;
}